/* General Layout styles */

.sc-main-wrapper {
width: 100%;
height: 100vh;
background-color: #262626; 
font-size: 10px;
background-image: url(../images/SCREEN-1-preview.jpg);
background-size: cover;

}

/* Navigation styles */

.sc-navigation-wrapper.row {
    width: 100%;
    height: 100px;
    padding-top: 70px;
    margin: 0;
 
}

.sc-navigation-wrapper .logo-container {
height: 68px;
}

.sc-navigation-wrapper .logo-container img {
    height: 100%
    }

.sc-navigation-wrapper .nav-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: center;  
}

.sc-navigation-wrapper .nav-buttons-wrapper .nav-button {
padding: 20px 30px;
}

